<!DOCTYPE html>
<html>

<head>
    <title>Vue</title>
    <script type='text/javascript' src='js/vue.js'></script>
    <script type='text/javascript' src='js/axios.js'></script>
</head>

<body>
 <div id="app">
   <p>{{ message }}</p>
   <input type='text' v-model='message' />
   <button v-on:click="reverseInput">Reverse</button>
   <hr />
   <ul>
     <todo-item
       v-for="item in todoList"
       v-bind:todo="item"
       v-bind:key="item.id">
     </todo-item>
   </ul>
   <input type='text' v-model='todoItem' />
   <button v-on:click="addItem">Add item</button>
   <hr />
   Fetch a new set of TODO elements with a <button v-on:click="restMock">GET</button> request
 </div>
</body>

<script type='text/javascript'>

// Return reversed string
function rev(s){
    return s.split('').reverse().join('');
}

// Return next available id in lst (todoList)
function nextAvailableId(lst){
    var max = 0;
    for(var i = 0; i < lst.length; i++){
        if( lst.id > max ){
            max = lst.id;
        }
    }
    return max + 1;
}

Vue.component(
    'todo-item', {
        props: ['todo'],
        template: '<li> <button v-on:click="rmItem( $event.target )"> x </button> {{ todo.text }}</li>',
        methods: {
            rmItem: function( el ){
                father = el.parentNode;
                grandFather = father.parentNode;
                grandFather.removeChild( father );
            }
        }
    }
);

new Vue({
      el: '#app',
      data: {
          message: 'Hello Vue.js!',
          todoItem: '',
          todoList: [
            { id: 0, text: 'Vegetables' },
            { id: 1, text: 'Cheese' },
            { id: 2, text: 'Whatever else humans are supposed to eat' }
          ]
      },
      methods: {
          reverseInput: function(){
              this.message = rev(this.message);
              for(var i = 0; i < this.todoList.length; i++){
                  this.todoList[i].text = rev(this.todoList[i].text);
              }
          },
          addItem: function(){
              if( ! /^\s*$/.test(this.todoItem) ){
                 this.todoList.push( { id: nextAvailableId(this.todoList),
                                          text: this.todoItem } );
                 this.todoItem = "";
              }
          },
          restMock: function(){
              var that = this;
              axios.get('static/todo.json')
                  .then(function (response) {
                      that.todoList = [];
                      for(var i = 0; i < response.data.length; i++){
                          that.todoList.push({
                              id: i,
                              text: response.data[i]
                          });
                      }
                  }).catch(function (error) {
                      console.log(error);
                  });
          }
      }
 });

</script>
</html>
